:root{
    --Color-one:#f7cd67;
    --Color-Two: #a2bc97; 
    --Color-Three: #361d20;
    --Color-four: #fbe5ac; 
    --Color-five: #fb6a3d;
}
/* PAra llamarlo se utiliza la funocion
TODO color: var(variable) */

body{
    font-family: "Karla", "Poppins","Noto Sans", sans-serif;
    background-color: beige; 
    
}

h1{
    color: rgb(1, 39, 73);
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
    list-style: none;
    background-color: rgb(183, 243, 223);
}
.container li{
    margin: 25px;
    background-color: aliceblue;
    border-radius: 25px;
    padding: 2px;
}